@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700&display=swap);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  display: flex;
  justify-content: center;
  font-family: "Oswald", sans-serif;
}
.wrapper {
  width: 100vw;
  max-width: 1920px;
  display: flex;
  flex-direction: column;
 
  /* gap: 50px; */
}
.home {
  width: 100%;
  display: flex;
  background-image: url(./assets/img/home.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right top;
  height: 1080px;
}
.left {
  width: 50% ;

  max-width: 930px;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 150px;
  z-index: 2;
  /* justify-content: center; */
  padding-block: 82px 205px;
  align-items: center;
  background-color: #333333;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.container > b {
  font-size: 40px;
  font-weight: bold;
  font-family: "Oswald";
  color: #fff;
}
.container > img {
  width: 70%;
}
.right {
  width: 50%;
  
  overflow: hidden;
  height: 100%;
 
  
 
 
}
.rightS2{
  background-image: url(./assets/modal-img/fon.png);
  background-color: #00000000 !important;
 
}
.right>img{
  width: 125% ;
 
  height: 100%;
  margin-left: -25%;


}
.container > p {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  font-family: sans-serif;
}
.container > ul {
  margin-left: 16px;
  font-family: sans-serif;
  color: #fff;
  font-size: 16px;
  font-weight: 200;
  font-family: sans-serif;
}

.container > button {
  width: 255px;
  height: 60px;
  background-color: #d7001c;
  font-size: 18px;
  color: #fff;
  border-radius: 30px;
  border: 1px solid #000000;
  cursor: pointer;
}
.links {
  height: 65px;
  display: flex;
  align-items: center;
  width: 90%;
  justify-content: space-between;
  padding-inline: 51px;
  border-radius: 47px;
  box-shadow: 0px 4px 4px #1e1e1e;
  border: 1px solid #000;
  margin: 0 52px;
}
.links > a {
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  font-family: sans-serif;
}
.media_bar{
  display: none;
}
.media_links{
  display: none;
}



/* section 2 */
.section2 {
  width: 100%;
  display: flex;
  background-color: #ededed;
  height: 1080px;
}
.leftS2 {
  width: 50%;
  max-width: 930px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #333333;
  border-radius: 0 0 169px 169px;
  padding-inline: 70px;
  padding-block-end: 70px;
  padding-block-start: 26px;
  color: #fff;
  text-align: center;
  gap: 12px;
}

.leftS2 > b {
  font-size: 36px;
  font-weight: bold;
  font-family: "Oswald";
}
.leftS2 > p {
  font-size: 20px;
  font-weight: 300;
  font-family: sans-serif;
}
.leftS2 > p > span {
  font-weight: 600;
}
.long_card {
  width: 100%;
  display: flex;
  align-items: center;
  height: 149px;
  background-color: #ededed;
  border-radius: 37px;
  padding-inline-start: 189px;
  position: relative;
}
.long_card > p {
  color: #000;
  font-family: sans-serif;
  font-size: 18px;
  text-align: left;
  line-height: 30px;
}
.long_card_thumb {
  position: absolute;
  left: 0;
  top: -8px;
  background-repeat: no-repeat;
  background-size: 190px;
  width: 165px;
  height: 162px;
  border-radius: 38px;
  display: flex;
  align-items: end;
  justify-content: center;
  color: #000;
  padding-block-end: 15px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 12px;
}
.rightS2 {
  width: 50%;
  
  height: 100%;
  background-color: transparent;
  flex-wrap: wrap;
  padding-inline: 33px;
  display: flex;
  justify-content: start;
  padding-block: 150px;
  gap: 55px;
}
.card {
  width: 350px;
  height: 290px;
  border-radius: 37px;
  padding-block-end: 10px;
  gap: 22px;
  display: flex;
  flex-direction: column;
  background-color: #333333;
  padding-top: 130px;
  align-items: center;

  position: relative;
}
.card > p {
  color: #000;
  font-family: sans-serif;
  font-weight: 300;
  color: #fff;
  font-size: 24px;
  line-height: 18px;
  text-align: center;
  max-width: 100%;
}
.card > button {
  width: 163px;
  height: 53px;
  background-color: #d7001c;
  font-size: 16px;
  color: #fff;
  font-weight: 500;
  border-radius: 30px;
  border: 1px solid #000000;
  cursor: pointer;
}
.card > img {
  position: absolute;
  left: 60px;
  top: -120px;
  width: 250px;
  height: 200px;
  object-fit: contain;
}


/* section 3 */
.section3,
footer {
  width: 100%;
  max-width: 1920px;
  height: 1080px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url(./assets/img/bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.s3_container {
  width: 1616px;
  /* height: 1026px; */
  border-radius: 169px 0px 169px 0px;
  background-color: #333333;
  padding-inline: 66px;
  padding-block: 46px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.s3_container > b {
  font-size: 60px;
  font-weight: bold;
  font-family: "Oswald";
  color: #fff;
}
.s3_cards {
  display: flex;
  flex-direction: column;
  gap: 33px;
}
.s3_card {
  display: flex;
  align-items: center;
  gap: 54px;
  color: #fff;
}
.s3_text {
  display: flex;
  flex-direction: column;
  gap: 6px;
  height: 100%;
  align-items: start;
}
.s3_text > b {
  font-size: 36px;
  font-weight: bold;
  font-family: "Oswald";
}
.s3_text > p {
  font-size: 22px;
  font-weight: 300;
  font-family: sans-serif;
}
.s3_text > p > span {
  color: #d7001c;
  font-weight: 500;
}



/* footer */

footer {
  padding-block: 0;
  padding-block-start: 46px;
  align-items: end;
}
.footer_container {
  width: 100%;
  max-width: 1706px;
  height: 949px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 100px;
  background-color: #333333;
  justify-content: center;
  border-radius: 169px 169px 0 0;
}
.footer_cards {
  display: flex;
  align-items: center;
  gap: 100px;
}
.footer_texts {
  display: flex;
  flex-direction: column;
  gap: 14px;
}
.footer_container{
  position: relative; 
  background-image: url('./assets/modal-img/img_layer1.png'),url('./assets/modal-img/Mask\ group.png');
 display: flex;
 background-repeat: no-repeat, no-repeat;
 justify-content: center;
 background-position: right top, left top;
 align-items: center;
padding: 100px;
}
.left{
  background-image: url('./assets/modal-img/img_layer3.png');
  background-repeat: no-repeat;
  background-size: 120% 80%;



}
.leftS2{
  background-image: url('./assets/modal-img/img_layer2\ —\ копия.png');
  background-repeat: no-repeat;
  background-size: 1000px 100%;
  background-position-y: -400px;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  /* overflow-x: hidden; */
}

.lines3{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
margin-left: 100px;
}

.right_line3{
  position: absolute;
right: 100px;
  width: 50%;
  
  height: 100%; /* Высота на весь экран */
  /* background-image: url('./assets/modal-img/image5.png'); */
  background-size: cover, cover;
  background-position: left top, right top;
  background-repeat: no-repeat, no-repeat;
  transform: rotateY(180deg);
  
  /* background-position: 100px 1000px 10px 10px; */
}
.img2 {
  display: none; /* Скрываем внутренний div, так как он нам не нужен */
}

.footer_text {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-size: 20px;
  position: relative; /* Убедимся, что это не имеет абсолютного позиционирования */
  z-index: 1; /* Слои поверх фонового изображения */
}

.lines3{
  position: absolute;
  display: flex;
left: -100px;

  width: 100%;
  max-width: 1920px;
  
}
.lines3>img{
  position: absolute;
  top: -600px;
  
}
.img2{
  position: absolute ;
  top: -600px;
  left: 640px;
}
.footer_text {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
  font-size: 20px;
}
.footer_label {
  display: flex;
  align-items: center;
  gap: 143px;
  color: #fff;
  font-size: 20px;
}
.footer_card {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 19px;
  color: #fff;
  font-size: 16px;
  max-width: 180px;
  text-align: center;
}

/* modal */

.modal {
  display: none; /* yashirin */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* o'zgarishlarni oldini olish */
  background-color: rgba(0, 0, 0, 0.4); /* fon rang */
  padding: 20px; /* ichki to'siqlar */
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal-content {
  width: 80%;
  height: 543px;
  background-color: #fefefe; /* modal foni */
  margin: auto; /* markazga joylashish */
  padding: 10px;
  border: 1px solid #888; /* chegarasi */
  border-radius: 48px; /* burchaklar radiusi */
    transition: all 0.3s ease; /* o'tish animatsiyasi */
}

.close-button {
  color: #aaa; /* tugma rangi */
  float: right; /* o'ng tomonga joylashish */
  font-size: 28px; /* o'lchami */
  font-weight: bold; /* qalinligi */
  margin-top: -15px;
}

.close-button:hover,
.close-button:focus {
  color: black; /* hover bo'lganda rangi */
  text-decoration: none; /* ostiga chizish */
  cursor: pointer; /* ko'rsatkich */
}

.media_bar{
  display: none;
}
.modal-content{
  background-color: #333333;

}
.container1{
  display: flex;
  gap: 100px;
  border-radius: 48%;
}
.image-section{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: space-around;
  align-items: center;
}

.image-section button{
  width: 290px;
  background-color: red;
  height: 54px;
  border-radius: 40px;
  color: white;
}
.ppp{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 5%;
}
.box_p{
  display: flex;
  width: 100%;
  border: 1px solid;
}
#modal{
  display: none;
}

.footer_texts2{
  width: 240px;
  height: 100px;
  display: flex !important;
 flex-direction: row;
  gap: 10px;
} 
.footer_text1{
  display: flex;
}

.footer_text2{
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 15px;
  padding-left: 100px;
}
.sledite>span{
  color: white;
}
.sledite{
  width: 200px;
  
}
.telega{
  width: 120px;
  padding-left: 15px;
  justify-content: space-between;
  display: flex;
}
.footer_text1>b{
  width: 230px;
}
.links{
  position: relative;
  z-index: 2;
  background-color: #333333;
}
@media (min-width: 50px) and (max-width: 668px) {
  
  #modal_cont{
    width: 100%;
    height: 100%;
  
  }
  #modal-image {
   
      width: 100%;
      height: 100%;
      flex-direction: column;
      display: none;
  }
  #lefts_modals{
    border-radius: 0px;
  }
  .left_modal button {
      font-size: 10px;
  }
#modalssss{
    width: 290px;
  }
  #modalssss img{
    width: 100%;
  }
  .texts_modals{
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100px;
  }

 #tt_modal p {
  color: white;
  font-size: 20px;
 }
 #lefts_modals button {
  width: 300px;
  height: 45px;
 }
 #r_mm{
  display: none;
  width: 100%;
  height: 300px;
 }
}

@media (min-width: 200px) and (max-width: 890px) {

  .footer_texts2{
    flex-direction: column !important;
    padding-left: 40px;
  }
  .footer_text2{
  
    padding-left: 20px !important;
  } 
  .home{
    height: 1300px !important;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
  }
.rigth>img{

  height: 100px !important;
  width: 300px !important;
  margin: 0px !important;
  display: none;
  

}
.left{
  height: 500px !important;
}
.right {
  width: 100% !important;

  height: 400px !important;

  background-color: #000000;
  display: flex;
  justify-content: center ;
  align-items: center;
 
 
}

}

@media (min-width: 200px) and (max-width: 960px) {

  .leftS2{
    border-radius: 40px !important;
    height: 1000px !important;
  }

}
@media (min-width: 200px) and (max-width: 530px) {

  .s3_container{
    border-radius: 40px !important;
    height: 1100px !important;
  }

}
@media (min-width: 200px) and (max-width: 460px) {

  .s3_container{
    border-radius: 40px !important;
    height: 1200px !important;
  }

}
@media (min-width: 200px) and (max-width: 430px) {

  .s3_container{
    border-radius: 40px !important;
    height: 1400px !important;
  }

}

@media (min-width: 200px) and (max-width: 360px) {

  .s3_container{
    border-radius: 40px !important;
    height: 1500px !important;
  }

}









@media (min-width: 200px) and (max-width: 500px) {
  .card>p{
    font-size: 24px !important;
    
  }
  .footer_texts2{
    flex-direction: column !important;
    padding-left: 40px;
  }
  .footer_text2{
  
    padding-left: 20px !important;
  }
.footer_container{
  height: 500px !important;
display: flex;
flex-direction: row !important;
  flex-wrap: wrap !important;
}
.footer_cards{
  display: flex !important;
  flex-direction: row !important;
}
.footer_texts{
display: flex;
flex-direction: row !important;
flex-wrap: wrap !important;
}

.footer_label{}
  .rightS2{
    gap: 1px !important ;
    padding-top: 150px !important;
    padding-bottom: 10px !important ;
  }
  .leftS2{
    border-radius: 30px !important;
  }
 .rightS2{
  padding: 150px 1px 1px 1px !important;
 }
 
  .long_card{
    height: 100px !important;
    margin-top:2px !important;  
    padding: 0 0 0 110px !important;
    
  }  
  .long_card>p{
    font-size: 12px !important;
    font-weight: 500 !important;
    
  }
  .long_card_thumb{
    height: 105px !important;
    width: 100px !important  ;
    margin-top: 5px !important;

    
  }
  .long_card_thumb{

height: 100% !important;
  }
  .leftS2{
    padding-bottom: 100px !important;
    height: 1200px !important;
  }
  
  
  }